* {
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	background-color: rgb(85, 187, 85);
}
.form {
	height: 100%;
	width: 800px;
	margin: auto;
}
.form input {
	margin-top: 50px;
	width: 800px;
	height: 60px;
	outline: none;
	border: 3px solid black;	
	margin-bottom: 30px;
	border-radius: 20px;
}
.form button {
	width: 150px;
	height: 65px;
	border-radius: 10px;
	background: rgb(88, 88, 227);
	border: 2px solid yellowgreen;
	margin-left: 5px;
	cursor: pointer;
}
